*{
    padding: 0;
    margin: 0;
    font-family: Josefin Sans;
    
}

body{
    background-color: #FAFAFA;
}

.header{
    background: url(images/bg-desktop-light.jpg);
    height: 230px;
    width:1280px;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    justify-items: center;
    background-size:cover;
}

.logo{
color: #FFF;
font-size: 40px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 15px;
margin-left: 250px;

}

.light_mode{
    margin-right: 250px;
}

.dark_mode{
    margin-right: 250px; 
    display: none;
}



.input{
    margin: 0px auto;
    text-align: center;
    margin-top: -150px;
    z-index: 0;
}
.circle{
    width:20px;
    height: 20px;
    border-radius: 24px;
    border: 1px solid #E3E4F1;
    background: #FFF;
    position: absolute;
    margin-left: 25px;
    margin-top: 22px;
}

.text_input{
    width: 420px;
    height: 64px;
    z-index: 0;
    padding-left: 70px;
    color:#393A4B;
    font-size: 18px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    background-color: #fff;
    outline: none;
    border-style: none;

}

input::placeholder{
    color: #9495A5; 
}

.todo_list{
margin-top: 30px;
}
.list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0px auto;
    width: 455px;
    height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #E3E4F1;
    word-wrap: break-word;
}
label{
    border: 1px solid #968CF8 ;
    width:24px;
    height: 24px;
    border-radius: 400px;
   
}

.input_check{
       opacity: 0;
}

.svg_check{
    opacity: 0;
    position: absolute;
    left: 413.5px;
    transition: opacity 0.3s linear;
}

.input_check:checked + span .svg_check{
    opacity: 1;
}

.list_title{
    color: #494C6B;
font-size: 18px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.25px;
margin-left: -90px;
word-wrap: break-word;
}

.bg_list{
    background-color: #25273D;
    color: #FFF;   
}

.list_footer{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0px auto;
    width: 495px;
    height: 40px;
    background-color: #fff;
    padding-top: 20px;
    justify-content: space-between;
    
}

.list_footer2{
    display: none;
}

.status{
    display: flex;
    flex-direction: row;
}

.items_left{
    padding-left: 25px;
    color: #9495A5;
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
}

.all{
padding-left: 15px;
color: #3A7CFD;
font-size: 14px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.194px;
}

.active{
    padding-left: 15px;
    color: #9495A5;
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
}

.completed{
    padding-left: 15px;
    color: #9495A5;
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
}

.clear{
    padding-right: 25px;
    color: #9495A5;
    text-align: right;
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
}


.footer{
color: #9495A5;
text-align: center;
font-size: 14px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.194px;
padding-top: 50px;
}


/** Media queries **/
@media (min-width: 320px) and (max-width: 480px) {
  
    .header{
        height: 180px;
        width: 380px;
        padding-top: 50px;
        margin: 0px auto;

    }

    .logo{
    font-size: 30px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10px;
    margin-left: -60px;
    }

    .light_mode{
        margin-right: -45px;
        
    }
    
    .dark_mode{
        margin-right: -45px;
        
    }
     
    .circle{
        margin-top: 45px;
    }
    .text_input{
        width: 260px;
       height: 48px;
       margin-top: 35px;
    }

    .list{
        margin-top: -10px;
        width: 287px;
        height: 20px;

    }

    .list_title{
color: #494C6B;
font-size: 12px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.167px;
padding-left: 90px;
width:200px;
    }

    .list_footer{
        padding-top: 0px;
        display:flex;
        width: 328px;
        height: 28px; 
        justify-content:space-between; 
        position: relative;
      
    }

    .items_left{
        position: relative;
        width: 600px;
     
    }
    .clear{
        width: 600px; 
    }

    .list_footer2{
        width: 328px;
        height: 28px; 
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 0px auto;
        margin-top: 20px;
        background-color: #fff;
        height: 48px;
        display: block;
    }


    .status{
        position:relative;
        top:70px;
        left: 10px;
    }

    .svg_check{
        margin-left: -360px;
    }
    
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .header{
        width: 768px;
    }
    
  }