*{
    padding: 0;
    margin: 0;
    font-family: Josefin Sans;
}

.header{
    background: url(images/bg-desktop-light.jpg);
    height: 230px;
    width:1280px;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    justify-items: center;
    background-size:cover;
}

.logo{
color: #FFF;
font-size: 40px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 15px;
margin-left: 250px;
}

.light_mode{
    margin-right: 250px;
}

.dark_mode{
    margin-right: 250px; 
    display: none;
}



.input{
    margin: 0px auto;
    text-align: center;
    margin-top: -150px;
    z-index: 0;
}
.circle{
    width:20px;
    height: 20px;
    border-radius: 24px;
    border: 1px solid #E3E4F1;
    background: #FFF;
    position: absolute;
    margin-left: 25px;
    margin-top: 22px;
}

.text_input{
    width: 420px;
    height: 64px;
    z-index: 0;
    padding-left: 70px;
    color:#393A4B;
    font-size: 18px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    outline: none;
}

input::placeholder{
    color: #9495A5; 
}

.todo_list{
margin-top: 30px;
}
.list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0px auto;
    width: 455px;
    height: 20px;
    background-color: #fff;
}
label{
    border: 1px solid #968CF8 ;
    width:24px;
    height: 24px;
    border-radius: 400px;
}

.input_check{
       opacity: 0;
}

.svg_check{
    opacity: 0;
    position: absolute;
    left: 413.5px;
    transition: opacity 0.3s linear;
}

.input_check:checked + span .svg_check{
    opacity: 1;
}

.list_title{
    color: #494C6B;
font-size: 18px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.25px;
margin-left: -90px;
}

.bg_list{
    background-color: #25273D;
    color: #FFF;   
}

